
body{
    background-color: black;
    padding-top: 60px;



}


ul{
    list-style-type:none;
    margin:0;
    padding:0;

}
li{
    display:inline;
}
h2{
   color:orange;
   font-family:sans-serif;
    align-items: left;
    font-size: 20px;
}
h1{
    font-size: 40px;
    color:orange;
    font-family: "IBM Plex Sans", sans-serif;
} .intro2 {
    padding: 0;
    padding-left: 120px;
    font-size: 50px;
}
.container {
    margin-left: 800;
    
 

    padding: 0 50px;
    margin-top: 50px; /* Added margin to separate from navbar */
}
.intromain {
    flex: 1;
    padding-right: 20px; /* Space between text and image */
}


.image {
    flex: 1;
    text-align: center; /* Center align the image */
    margin-bottom: 100px;
    padding-bottom: 100px;
    padding-left: 120px;
}
.image img {
    max-width: 100%;
    height: auto;
}
.container {
    display: inline-block;
}

.text {
    margin-left: 900px;
    margin-right: 700px;
    font-size: 5em;
    align-items: center;
    justify-content: center;
    letter-spacing: 5px;
    font-family: monospace;
    border-right: 3px solid;
    width: 0;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(15), cursor .2s step-end infinite alternate;
}

@keyframes cursor {
    30% {
        border-color: transparent;
    }
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: -1; /* This places the video behind other content */
}

#background-video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    padding: 20px;
}